<!DOCTYPE html>
<html>
  <head>
    <title>SpineCrackers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    

    </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <header class="row">
    </header>

    <div id="wrap">
      <div id="main" class="clear-top">
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div style="text-align: center; margin: auto"> 
            &#x24B8; 2019 Spine Crackers was created by a fellow book lover named Rebekah Colmenero.
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
